<div class="heading_area">
    <div class="row justify-content-between align-items-center">
        <div class="col-md-auto">
            <h3 class="page_head">View Kpi Layers</h3>
        </div>
        <div class="col-md-3 ms-auto">
            <div class="compare_select input_field input_flex">
                <ng-select [items]="kpis" [searchable]="true" [placeholder]="!selectedkpiLayerID ?'Search by Kpis':''"
                    [(ngModel)]="selectedkpiLayerID" [searchFn]="customSearchFn" (change)="kpiChanged()"
                    bindValue="layerID" bindLabel="layerNmme" class="form-control analyst_multi_select">
                    <ng-template ng-label-tmp let-item="item" class="select_item">
                        {{ item.layerCode }}
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item">
                        ({{ item.layerCode }}) {{ item.layerName }}
                    </ng-template>
                </ng-select>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="compare_select input_field input_flex">
                <ng-select [items]="assignedInvitations" [searchable]="true"
                    [placeholder]="!userAssessmentMappingID? 'Select assessment' :''" [(ngModel)]="userAssessmentMappingID"
                    (change)="GetAnalyticalLayerResults()" bindValue="userAssessmentMappingID"
                    bindLabel="geographicReference" class="form-control analyst_multi_select">
                    <ng-template ng-label-tmp let-item="item" class="select_item">
                        {{ item.geographicReference }}
                    </ng-template>


                    <ng-template ng-option-tmp let-item="item">
                        {{ item.geographicReference }}, {{ item.year }}
                    </ng-template>
                </ng-select>
            </div>
        </div>
    </div>
</div>


<div class="table_outer compare_city_table kpi_layers_table">
    <div class="table_custom_inner">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>S.No.</th>
                    <th>Geographic Reference</th>
                    <th>Kpi Layer</th>
                    <th>Pillar</th>
                    <th>Condition</th>
                    <th>Progress</th>
                    <th class="action_th">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let kpi of kpiLayersResponse?.data; let i = index">
                    <td>
                        {{ (currentPage - 1) * pageSize + (i + 1) }}
                    </td>
                    <td>
                        <span class="geo_ref_text" [matTooltip]="kpi.geographicReference">{{ kpi.geographicReference }}</span>
                    </td>
                    <td>
                        <div class="kpi_name_cell">
                            <span class="kpi_name" [matTooltip]="kpi.layerName">{{ kpi.layerName }}</span>
                            <span class="kpi_code">({{ kpi.layerCode }})</span>
                        </div>
                    </td>
                    <td>
                        <span class="pillar_badge" [matTooltip]="kpi.pillarName || '-'">{{ kpi.pillarName || '-' }}</span>
                    </td>
                    <td>
                        <span class="condition_badge" [ngClass]="getConditionClass(kpi)" [matTooltip]="getConditionByid(kpi)">
                            {{ getConditionByid(kpi) }}
                        </span>
                    </td>
                    <td>
                        <div class="kpi_cat03 kpi_td_data">
                            <app-sparkline-score [value]="kpi.calValue ?? 0"
                                [tooltipText]="(kpi.calText || '')"></app-sparkline-score>
                        </div>
                    </td>
                    <td class="action_td">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="action_icons">
                                            <a (click)="viewDetails(kpi); $event.preventDefault()"
                                                style="cursor: pointer" matTooltip="View">
                                                <span style="display: inline-block">View Details</span>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <app-pagination [totalPage]="totalRecords" [currentPage]="currentPage" [pageSize]="pageSize" [isLoader]="isLoader"
        (pageChange)="GetAnalyticalLayerResults($event)"></app-pagination>
</div>


<!-- Bootstrap 5 Offcanvas Sidebar -->
<div class="offcanvas offcanvas-end custom-sidebar kpi_sidebar" tabindex="-1" id="kpiLayerSidebar">
    <div class="offcanvas-body">
        <app-view-kpi-layer [selectedLayer]="selectedKpi"></app-view-kpi-layer>
    </div>
</div>