<div class="heading_area">
	<div class="row justify-content-between align-items-center">
		<div class="col-md-auto">
			<h3 class="page_head">KPIs Graphical View</h3>
		</div>

		<div class="col-md-3 ms-auto">
			<div class="compare_select input_field input_flex">
				<ng-select [items]="kpis"
					[multiple]="true"
					[searchable]="true"
					[maxSelectedItems]="4"
					[placeholder]="selectedKpis.length ? '' : 'Search by KPIs'"
					[(ngModel)]="selectedKpis"
					[searchFn]="customSearchFn"
					(change)="kpiChanged()"
					bindValue="layerID"
					bindLabel="layerNmme"
					class="form-control analyst_multi_select">
					<ng-template ng-label-tmp let-item="item" class="select_item">
						{{ item.layerCode }}
					</ng-template>
					<ng-template ng-option-tmp let-item="item">
						({{ item.layerCode }}) {{ item.layerName }}
					</ng-template>
				</ng-select>
			</div>
		</div>

		<div class="col-md-3">
			<div class="compare_select input_field input_flex">
				<ng-select [items]="assignedInvitations"
					[searchable]="true"
					[placeholder]="!userAssessmentMappingID ? 'Select assessment' : ''"
					[(ngModel)]="userAssessmentMappingID"
					(change)="kpiChanged()"
					bindValue="userAssessmentMappingID"
					bindLabel="geographicReference"
					class="form-control analyst_multi_select">
					<ng-template ng-label-tmp let-item="item" class="select_item">
						{{ item.geographicReference }}
					</ng-template>
					<ng-template ng-option-tmp let-item="item">
						{{ item.geographicReference }}, {{ item.year }}
					</ng-template>
				</ng-select>
			</div>
		</div>
	</div>
</div>

<ng-container *ngIf="!isLoader">
	<div *ngIf="kpiLayerChartData && chartOptions?.series?.length" class="chart_summary_row">
		<div class="chart_card">
			<div class="chart_card_header">
				<div class="chart_header_text">
					<h4 class="chart_title">{{ getSelectedAssessmentLabel() }}</h4>
					<p class="chart_subtitle">Hover bars to see pillar, score, and interpretation condition</p>
				</div>
				<div class="chart_stats">
					<div class="stat_chip">
						<span class="stat_label">KPIs</span>
						<strong>{{ kpiLayerChartData.items.length || 0 }}</strong>
					</div>
					<div class="stat_chip stat_chip_primary">
						<span class="stat_label">Average</span>
						<strong>{{ kpiLayerChartData.averageScore | number:'1.1-1' }}</strong>
					</div>
					<div class="stat_chip">
						<span class="stat_label">Scale Max</span>
						<strong>{{ chartMax }}</strong>
					</div>
				</div>
			</div>
			<div id="chart" class="chart_canvas">
				<apx-chart [series]="chartOptions.series!"
					[chart]="chartOptions.chart!"
					[xaxis]="chartOptions.xaxis!"
					[yaxis]="chartOptions.yaxis!"
					[stroke]="chartOptions.stroke!"
					[tooltip]="chartOptions.tooltip!"
					[grid]="chartOptions.grid!"
					[dataLabels]="chartOptions.dataLabels!"
					[legend]="chartOptions.legend!"
					[plotOptions]="chartOptions.plotOptions!"
					[fill]="chartOptions.fill!"
					[colors]="chartOptions.colors!">
				</apx-chart>
			</div>
		</div>
	</div>

	<div *ngIf="!userAssessmentMappingID" class="empty_state">
		<p>Select an assessment to view KPI.</p>
	</div>

	<ng-container *ngIf="selectedKpis.length === 0">
		<app-pagination [totalPage]="totalRecords"
			[currentPage]="currentPage"
			[pageSize]="pageSize"
			[isLoader]="isLoader"
			(pageChange)="getKpiLayerChart($event)">
		</app-pagination>
	</ng-container>

	<div *ngIf="kpiLayerChartData?.items?.length" class="table_outer table-responsive kpi_chart_table">
		<table class="table table-striped table-bordered compare_table">
			<thead>
				<tr>
					<th>KPI Layer</th>
					<th>Pillar</th>
					<th>Condition</th>
					<th>Score</th>
					<th class="action_th">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let row of kpiLayerChartData?.items">
					<td>
						<div class="kpi_name_cell">
							<span class="kpi_name">{{ row.layerName }}</span>
							<span class="kpi_code">({{ row.layerCode }})</span>
						</div>
					</td>
					<td>
						<span class="pillar_badge">{{ row.pillarName || '-' }}</span>
					</td>
					<td>
						<span class="condition_text">{{ getConditionByid(row) }}</span>
					</td>
					<td>
						<div class="kpi_city kpi_td_data">
							<app-circular-score [value]="row.calValue ?? 0" [showSign]="false"></app-circular-score>
						</div>
					</td>
					<td class="action_td">
						<div class="action_icons">
							<a (click)="viewDetails(row); $event.preventDefault()"
								style="cursor: pointer"
								matTooltip="View KPI details">
								<span>View Details</span>
							</a>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</ng-container>

<div *ngIf="isLoader" class="loader_main">
	<div class="loader"></div>
</div>

<div class="offcanvas offcanvas-end custom-sidebar kpi_sidebar" tabindex="-1" id="kpiLayerSidebar">
	<div class="offcanvas-body">
		<app-view-kpi-layer [selectedLayer]="selectedKpi"></app-view-kpi-layer>
	</div>
</div>
