<div class="heading_area">
	<div class="row justify-content-between align-items-center gap-2 custom_gap">
		<div class="col">
			<h3 class="page_head">Task</h3>
		</div>
		<div class="col-lg-auto">
			<div class="header_btns">
				<div *ngIf="selectedInvitation"
					class="due-date-card">

					<div class="assigned">
						<span class="avatar">
							{{ selectedInvitation.assignedBy?.charAt(0) }}
						</span>

						<div class="info">
							<div class="name">
								{{ selectedInvitation.assignedBy }}
							</div>

							<div class="due">
								<span class="label">Due:</span>
								<span [ngClass]="{
									'urgent': isDueSoon(selectedInvitation?.dueDate),
									'normal': !isDueSoon(selectedInvitation?.dueDate)
									}"
									class="date">
									{{ selectedInvitation.dueDate | date:'dd MMM yyyy' }}
								</span>
							</div>
						</div>
					</div>
				</div>

				<div class="compare_select input_field input_flex">
					<ng-select [items]="assignedInvitations"
						[multiple]="false"
						[searchable]="true"
						[placeholder]="assignedInvitations.length ? '' : 'Search by location'"
						[(ngModel)]="userAssessmentMappingID"
						[searchFn]="customSearchFn"
						(change)="cityChanged()"
						bindValue="userAssessmentMappingID"
						bindLabel="userAssessmentMappingID"
						class="form-control analyst_multi_select">
						<ng-template ng-label-tmp
							let-item="item"
							class="select_item">
							{{ item.geographicReference}} ({{ item.year }})
						</ng-template>
						<ng-template ng-option-tmp
							let-item="item">
							{{ item.geographicReference}} ({{ item.year }})
								—
								{{ item.assignedBy }}
						</ng-template>
					</ng-select>
				</div>
			</div>
		</div>
	</div>
</div>




<div class="body_faq">
	<div class="body_faq_inner">
		<div class="faq_sidebar">
			<div class="faq_sidebar_inner">
				<div *ngFor="let piller of pillars; let i = index"
					[class.active]="piller.displayOrder <= pillarDisplayOrder"
					class="faq_sidebar_item">
					<div [ngClass]="selectedPillar?.displayOrder == piller.displayOrder ? 'current-active' : ''"
						(click)="selectedPillar?.displayOrder == piller.displayOrder ? $event.stopPropagation() :pillarChanged(piller)"
						class="faq_sidebar_item_inner">
						<span class="faq_inner_svg">
							<img [src]="urlBase + '/' + piller.imagePath"
								[alt]="'No image found'">
						</span>
						<p>
							{{ piller.pillarName }}
						</p>
					</div>
				</div>
			</div>
		</div>

		<div #scrollContainer
			class="faq_main_section">
			<form [formGroup]="form">
				<div class="tabs_discrp">
					<div [innerHTML]="decodeHtml(pillerQuestions?.description)"
						class="tabs_discrp_inner"></div>
				</div>
				<div *ngFor="let group of questionsArray.controls; let i = index"
					class="faq_main_section_inner"
					formArrayName="questions">
					<div [formGroupName]="i"
						class="faq_main_item">
						<div class="faq_main_item_inner">
							<p>
								{{ i + 1 }}. {{ questions[i].questionText }}
							</p>

							<select (change)="onOptionChange($event, i)"
								class="form-select faq_select"
								formControlName="questionOptionID">
								<option value>Select option</option>
								<option *ngFor="let o of questions[i].questionOptions"
									[value]="o.optionID">
									{{ o.scoreValue != null ? o.scoreValue + " - " : "" }}
									{{ o.optionText }}
								</option>
							</select>
							<select (change)="onHistoryOptionChange($event, i)"
								class="form-select faq_select"
								formControlName="historyQuestionOptionID">
								<option value>Choose from history</option>
								<option *ngFor="let o of questions[i].history"
									[value]="o.userID">
									{{ o.fullName   }} : 
									{{ o.scoreValue != null ? o.scoreValue + " - " : "" }}
									{{ o.optionText }}
								</option>
							</select>

							<div class="faqtextarea">
								<textarea (blur)="autoSaveSingleAssessemnt(i)"
									class="form-control"
									formControlName="justification"
									rows="3"
									placeholder="Add Comment . . ."></textarea>
							</div>
							<div class="faqtextarea">
								<textarea (blur)="autoSaveSingleAssessemnt(i)"
									class="form-control"
									formControlName="source"
									rows="3"
									placeholder="Add Source . . ."></textarea>
							</div>
						</div>
					</div>
				</div>
				<div [class.loading-bottom]="isLoader"
					class="next_btn">
					<button [disabled]="!this.userAssessmentMappingID || this.userAssessmentMappingID == 0"
						type="button"
						data-bs-toggle="modal"
						data-bs-target="#confirmModal"
						style="cursor: pointer"
						class="common_button">
						{{IsLastPillar ? 'Submit' :'Save & Next' }}
					</button>
				</div>
			</form>

			<div *ngIf="isLoader"
				class="loader_main">
				<div class="loader"></div>
			</div>
		</div>
	</div>
</div>

<app-prompt [title]="'Save Pillar'"
	[message]="'Are you sure you want to save this pillar?'"
	[confirmText]="'Save'"
	[cancelText]="'Cancel'"
	(confirm)="SaveAssessment()">
</app-prompt>
