
.input_field {
    margin-bottom: 0;
}
.input_field .form-control {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='8' viewBox='0 0 12 8' fill='none'%3E%3Cpath d='M0.765098 1.70703L4.97795 5.91988C5.47548 6.41741 6.28962 6.41741 6.78715 5.91988L11 1.70703' stroke='%23888888' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center right 13px;
    color: #7A7A7A;
    /* font-family: 'Montserrat'; */
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    height: auto;
    background-color: #ffffff;
    min-height: 36px;
    align-items: center;
    font-family: "Poppins", sans-serif !important;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    appearance: none!important;
    border-radius: 12px !important;
    padding: 10px !important;
    border: 1px solid #d7d7d7 !important;
}

.inner_div {
    grid-gap: 20px;
}
.input_flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 10px;
}

.input_flex select{
    flex: 1;
}
.no_result_found {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}
.no_result_found h3{    
    font-weight: 700;
}


::ng-deep .analyst_multi_select .ng-option-selected {
  background-color: #e8f0ff !important;
  color: #032961 !important;
  font-weight: 600;
}

/* Optional: hover style */
::ng-deep .analyst_multi_select .ng-option:hover {
  background-color: #f2f6ff !important;
}

::ng-deep .compare_select .ng-select-container {
  border: none !important;
  background-color: #ffffff !important;
  min-height: auto !important;
  height: 100% !important;
}

::ng-deep .compare_select .ng-select-container:hover {
  box-shadow: none !important;
}

::ng-deep .compare_select .ng-select.ng-select-focused:not(.ng-select-opened)>.ng-select-container {
  box-shadow: none !important;
}

.compare_select .analyst_multi_select {
  flex: 1;
  height: auto;
  background-color: #ffffff;
  min-height: 36px;
  align-items: center;
  font-family: "Poppins", sans-serif !important;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  appearance: none !important;
  border-radius: 12px !important;
  padding: 6px 10px 6px 3px !important;
  border: 1px solid #d7d7d7 !important;
}
::ng-deep .compare_select .ng-value-container .ng-value {
  white-space: nowrap;
  padding: 2px 5px !important;
  border-radius: 5px !important;
  background-color: #032961 !important;
  color: #ffffff !important;
}
