<!-- <app-ag-bar [options]="barOptions"></app-ag-bar> -->
<ng-container>
	<div class="db-wrap">
		<div class="db-grid_ouuu row g-3">
			<div class="dashboard-header">
				<div class="header-grid">


					<!-- Target Trajectory -->
					<div class="header-card overview-card">
						<div class="overview-section">
							<div class="section-header">
								<span class="icon text-danger">📋 </span>
								<span class="section-title">Tasks</span>
							</div>

							<div class="stats-grid-task">
								<div>
									<div class="stat-val text-success">
										{{ cardHistory?.totalCompletedAssessments ?? 0 }}
									</div>
									<div class="stat-lbl">Completed</div>
								</div>

								<div>
									<div class="stat-val text-info">
										{{ cardHistory?.totalInProgressAssessments ?? 0 }}
									</div>
									<div class="stat-lbl">In Progress</div>
								</div>
								<div>
									<div class="stat-val text-warning">
										{{ cardHistory?.totalAssessments ?? 0 }}
									</div>
									<div class="stat-lbl">Total Tasks</div>
								</div>
							</div>
						</div>



					</div>

					<!-- Critical Risk -->
					<div class="header-card overview-card">
						<div class="overview-section">
							<div class="section-header">
								<span class="icon text-danger">⚠</span>
								<span class="section-title">Critical Risks</span>
							</div>

							<div class="stats-grid">
								<div>
									<div class="stat-val text-danger">
										{{ cardHistory?.totalOverdue ?? 0 }}
									</div>
									<div class="stat-lbl">Overdue</div>
								</div>

								<div>
									<div class="stat-val text-orange">
										{{ cardHistory?.totalHighRisk ?? 0 }}
									</div>
									<div class="stat-lbl">High Risk</div>
								</div>

								<div>
									<div class="stat-val text-warning">
										{{ cardHistory?.totalAtRisk ?? 0 }}
									</div>
									<div class="stat-lbl">At Risk</div>
								</div>
								<div>
									<div class="stat-val text-success">
										{{ cardHistory?.totalOnTrack ?? 0 }}
									</div>
									<div class="stat-lbl">On Track</div>
								</div>
							</div>
						</div>


					</div>

					<div class="header-card">
						<div class="title">Pillar Progress</div>

						<div class="kpi-body">
							<div class="progress-wrap">

								<div class="card-stats-row">
									<div class="stat-col">
										<div class="pillar-score blue-accent">
											{{ cardHistory?.highestPillarScore?.value != null
											? (cardHistory?.highestPillarScore?.value == 100
											? cardHistory?.highestPillarScore?.value?.toFixed(0)
											: cardHistory?.highestPillarScore?.value?.toFixed(2))
											: 0 }}%
										</div>
										<div class="pillar_scores">
											<div class="pillar-name">
												{{ cardHistory?.highestPillarScore?.pillarName ?? '—' }}
											</div>
											<div class="stat-lbl">Highest</div>
										</div>
									</div>
									<div class="stat-col lowest_sec">
										<div class="pillar-score lowest_title">
											{{ cardHistory?.lowestPillarScore?.value != null
											? (cardHistory?.lowestPillarScore?.value == 100
											? cardHistory?.lowestPillarScore?.value?.toFixed(0)
											: cardHistory?.lowestPillarScore?.value?.toFixed(2))
											: 0 }}%
										</div>
										<div class="pillar_scores lowest_descript">
											<div class="pillar-name ">
												{{ cardHistory?.lowestPillarScore?.pillarName ?? '—' }}
											</div>
											<div class="stat-lbl">Lowest</div>
										</div>
									</div>
								</div>

							</div>

						</div>

					</div>
					<div class="header-card">
						<div class="title"> Overall Critical Questions Answered</div>

						<div class="kpi-body">
							<div class="progress-wrap">

								<div class="progress-label">
									Answered Questions (
									{{
									cardHistory?.totalCriticalQuestions && cardHistory?.totalAssessments
									? (
									(cardHistory?.totalAnsweredCriticalQuestions! * 100) /
									(cardHistory?.totalCriticalQuestions! * cardHistory?.totalAssessments!)
									).toFixed(1)
									: 0
									}}%
									)
								</div>

								<div class="progress-bar">
									<div class="progress-fill-critical" [style.width.%]="
            cardHistory?.totalCriticalQuestions && cardHistory?.totalAssessments
              ? (cardHistory?.totalAnsweredCriticalQuestions! * 100) / (cardHistory?.totalCriticalQuestions! * cardHistory?.totalAssessments!)
              : 0
          ">
									</div>
								</div>

								<div class="progress-text">
									{{cardHistory?.totalAnsweredCriticalQuestions ?? 0}}/(
									{{cardHistory?.totalCriticalQuestions ?? 0}} * {{cardHistory?.totalAssessments ??
									0}} )
								</div>

							</div>

						</div>

					</div>

				</div>
			</div>

			<div class="col-md-4 d-flex">

				<div class="assessment-selector w-100">
					<div class="mb-2 sticky_search">
						<input type="text" class="form-control" placeholder="Search by geographic reference..."
							[(ngModel)]="searchText" (input)="getAssignedInvitations(false)" />
					</div>

					<div class="assessment-card" *ngFor="let item of assignedInvitations"
						[class.active]="assignedInvitation === item.userAssessmentMappingID"
						(click)="onAssessmentSelect(item)">

						<div class="card-header">
							<span class="title">
								{{ item.geographicReference }}• {{ item.year }}
							</span>
							
							<button class="view-weekly-btn" (click)="onViewWeekly(item, $event)">
								View Weekly
							</button>
						</div>
						<div class="card-top-stats">
							<div class="stat-block">
								<span class="label">Score : {{ item.avgScoreProgress.toFixed(1) }}%</span>
								<span class="label">Completed : {{ item.avgCompletionRate.toFixed(1) }}%</span>
								<span class="label d-flex align-items-center"
									[matTooltip]="'Worst Performing Pillar: ' + item.worstPerformingPillar">
									<span class="arrow down">▼</span>
									{{ item.worstPerformingPillar | slice:0:7 }}...
									({{ item.worstCompletionRate.toFixed(1) }}%)
								</span>

								<span class="label d-flex align-items-center"
									[matTooltip]="'Best Performing Pillar: ' + item.bestPerformingPillar">
									<span class="arrow up">▲</span>
									{{ item.bestPerformingPillar | slice:0:7 }}...
									({{ item.bestCompletionRate.toFixed(1) }}%)
								</span>

							</div>
							


							<div class="completion-risk-breakdown">
								<span class="due-date">
								 Due: {{ item.dueDate | date:'yyyy-MM-dd' }}
							</span>
								<div class="risk-row on-track">
									<span class="dot"></span>
									<span class="label">On Track</span>
									<span class="value">({{ item.onTrackPercent.toFixed(1) }}%)</span>
								</div>

								<div class="risk-row at-risk">
									<span class="dot"></span>
									<span class="label">At Risk</span>
									<span class="value">({{ item.atRiskPercent.toFixed(1) }}%)</span>
								</div>

								<div class="risk-row off-track">
									<span class="dot"></span>
									<span class="label">Off Track</span>
									<span class="value">({{ item.offTrackPercent.toFixed(1) }}%)</span>
								</div>
							</div>
						</div>
						<div class="progress-section">
							<div class="progress-bar">
								<div class="progress-fill" [style.width.%]="item.avgCompletionRate"></div>
							</div>
							<div class="progress-text">
								{{ item.totalAnsweredQuestions }} / {{ item.totalQuestions }} (Answered)
							</div>
							<div class="progress-bar">
								<div class="progress-fill-critical" [style.width.%]="item.totalCriticalQuestions ? ((item.totalCriticalAnsweredQuestions ?? 0) * 100) / item.totalCriticalQuestions
        							: 0 ">
								</div>
							</div>
							<div class="progress-text">
								{{ item.totalCriticalAnsweredQuestions }} / {{ item.totalCriticalQuestions }} (Critical
								Answered)
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="col-md-8">
				<div *ngIf="chartPillarOptions && chartPillarOptions.series" id="chartPillar"
					tyle="width:100%; height:500px;">
					<apx-chart [series]="chartPillarOptions.series!" [chart]="chartPillarOptions.chart!"
						[xaxis]="chartPillarOptions.xaxis!" [yaxis]="chartPillarOptions.yaxis!"
						[colors]="chartPillarOptions.colors!" [tooltip]="chartPillarOptions.tooltip!"
						[plotOptions]="chartPillarOptions.plotOptions!" [legend]="chartPillarOptions.legend!"
						[fill]="chartPillarOptions.fill!" [states]="chartPillarOptions.states!"
						[dataLabels]="chartPillarOptions.dataLabels!" [stroke]="chartPillarOptions.stroke!"
						[markers]="chartPillarOptions.markers!" [grid]="chartPillarOptions.grid!"
						class="cus_chart_right"></apx-chart>
				</div>

				<div class="outer_graph">
					<apx-chart [series]="chartOptionsBar.series!" [chart]="chartOptionsBar.chart!"
						[xaxis]="chartOptionsBar.xaxis!" [yaxis]="chartOptionsBar.yaxis!"
						[dataLabels]="chartOptionsBar.dataLabels!" [tooltip]="chartOptionsBar.tooltip!"
						[legend]="chartOptionsBar.legend!" [plotOptions]="chartOptionsBar.plotOptions!"
						[grid]="chartOptionsBar.grid!" [stroke]="chartOptionsBar.stroke!"
						[colors]="chartOptionsBar.colors!"></apx-chart>
				</div>
				<div *ngIf="isLoader" class="loader_main">
					<div class="loader"></div>
				</div>
			</div>


		</div>
	</div>

</ng-container>