<ng-container *ngIf="!isLoader">

  <div class="heading_area">
    <div class="row justify-content-between align-items-center gap-2 custom_gap">
      <div class="col">
        <h3 class="page_head">Weekly Overview</h3>
      </div>

      <div class="date_row">

        <!-- WEEK 1 -->
        
        <div class="col-lg-auto">
          <div class="header_btns">
            <div *ngIf="invitationsSelect" class="due-date-card">

              <div class="assigned">
                <span class="avatar">
                  {{ invitationsSelect.assignedBy?.charAt(0) }}
                </span>

                <div class="info">
                  <div class="name">
                    {{ invitationsSelect.assignedBy }}
                  </div>

                  <div class="due">
                    <span class="label">Due:</span>
                    <span [ngClass]="{
									'urgent': isDueSoon(invitationsSelect.dueDate!),
									'normal': !isDueSoon(invitationsSelect.dueDate!)
									}" class="date">
                      {{ invitationsSelect.dueDate | date:'dd MMM yyyy' }}
                    </span>
                  </div>
                </div>
              </div>
            </div>

            <div class="compare_select input_field input_flex">
              <ng-select [items]="invitations" [multiple]="false" [searchable]="true"
                [placeholder]="selectedInvitations ? '' : 'Search by location'" [(ngModel)]="selectedInvitations"
                [searchFn]="customSearchFn" (change)="getResponsesByUserId()" bindValue="userAssessmentMappingID"
                bindLabel="geographicReference" class="form-control analyst_multi_select">
                <ng-template ng-label-tmp let-item="item" class="select_item">
                  {{ item.geographicReference}} ({{ item.year }})
                </ng-template>
                <ng-template ng-option-tmp let-item="item">
                  {{ item.geographicReference}} ({{ item.year }})
                  —
                  {{ item.assignedBy }}
                </ng-template>
              </ng-select>
            </div>
            <div class="compare_select input_field input_flex">                   
          <ng-select [items]="timeOptions" [multiple]="true" [searchable]="true" placeholder="Select weeks"
            [(ngModel)]="selectedPeriods" (change)="onPeriodChange()" bindLabel="label" bindValue="value"
            class="form-control analyst_multi_select">

            <ng-template ng-label-tmp let-item="item">
              {{ item.label }}
            </ng-template>

            <ng-template ng-option-tmp let-item="item">
              {{ item.label }}
            </ng-template>

          </ng-select>
        </div>
          </div>
        </div>       
      </div>

    </div>
  </div>


  <div class="pillar-comparison-container">
    <div class="outer_graph">
      <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!" [xaxis]="chartOptions.xaxis!"
        [yaxis]="chartOptions.yaxis!" [dataLabels]="chartOptions.dataLabels!" [tooltip]="chartOptions.tooltip!"
        [legend]="chartOptions.legend!" [plotOptions]="chartOptions.plotOptions!" [grid]="chartOptions.grid!"
        [stroke]="chartOptions.stroke!" [colors]="chartOptions.colors!"></apx-chart>
    </div>

    <!-- Pagination -->
    <ng-container *ngIf="totalRecords > pageSize">
      <div class="pagination-wrapper">
        <app-pagination [totalPage]="totalRecords" [currentPage]="currentPage" [pageSize]="pageSize"
          [isLoader]="isLoader" (pageChange)="compareinvitations($event)">
        </app-pagination>
      </div>
    </ng-container>
  </div>
  <div class="row justify-content-between align-items-end mb-4">
    <div class="col-md-auto">
      <h3 class="page_head mt-5 mb-3"></h3>
    </div>
    <div class="col-md-auto">

    </div>
  </div>
</ng-container>

<div *ngIf="isLoader" class="loader_main">
  <div class="loader"></div>
</div>