<div class="offcanvas-header">
    <h5 id="offcanvasLabel">KPI Details</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
</div>

<ng-container>
    <div class="cross-pillar_outter">
        <div class="cross-pillar">
            <h5>
                {{selectedLayer?.layerName}} ({{selectedLayer?.layerCode}}) :
                <span *ngIf="selectedLayer?.pillarName" class="pillar_name_badge">
                    {{ selectedLayer?.pillarName }}
                </span>
            </h5>
            &nbsp;
            <div [innerHtml]="selectedLayer?.purpose"></div>
        </div>

        <div class="integrate_outter">
            <div class="integrate_list">
                <table class="kpi_custom_table">
                    <tr class="sidebar_table">
                        <th>
                            <div class="kpi_cat_name">Category</div>
                        </th>
                        <th>
                            <span class="bold_num">Evaluation</span>
                        </th>
                    </tr>

                    <tr *ngIf="selectedLayer?.calText">
                        <td>
                            <div class="kpi_cat_name">{{ selectedLayer?.calText }}</div>
                        </td>
                        <td>
                            <span class="bold_num">{{ selectedLayer?.calValue?.toFixed(2) }}</span>
                        </td>
                    </tr>

                    <tr class="last_data">
                        <td>
                            <div class="kpi_cat_name">Interpretation Condition </div>
                        </td>
                        <td>
                            <span>{{getConditionByid()}}</span>
                        </td>

                    </tr>
                </table>
            </div>

            <div class="outer_graph" *ngIf="chartOptions?.series">
                <!-- <app-ag-bar [options]="pieOptions"> </app-ag-bar> -->
                <div id="card">
                    <div id="chart">
                        <apx-chart [series]="chartOptions.series!" [chart]="chartOptions.chart!"
                            [plotOptions]="chartOptions.plotOptions!" [labels]="chartOptions.labels!"
                            [stroke]="chartOptions.stroke!" [fill]="chartOptions.fill!"></apx-chart>
                    </div>
                </div>
            </div>
        </div>
    </div>
    &nbsp;

    <div class="cus_table kpi_table">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Score Range</th>
                        <th scope="col">System Condition</th>
                        <th scope="col">Descriptor</th>
                        <th scope="col">Strategic Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inerpretaion of interpretaions" [ngClass]="inerpretaion.interpretationID == selectedLayer?.interpretationID
                     ? 'active_row' : ''">
                        <td><span class="score_label_tab">{{inerpretaion.minRange}}–{{inerpretaion.maxRange}}</span>
                        </td>
                        <td>{{inerpretaion.condition}}</td>
                        <td>{{inerpretaion.descriptor}}</td>
                        <td>{{inerpretaion.strategicAction}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>